@import "vendor/normalize.scss";
@import url('https://fonts.googleapis.com/css?family=Alegreya|Playfair+Display');


@font-face {
    font-family: 'Scriptina';
    src: url('../fonts/scriptina.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proximanova-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1600px;
}

.main-container {
  width: 1600px;
  margin: 0 auto;
}

@import "partials/uikit.scss";
@import "partials/main-image.scss";
@import "partials/art-of-cakes.scss";
@import "partials/season-favourite.scss";
@import "partials/menu-wrap.scss";
@import "partials/recipe.scss";
