.art-of-cakes {
  width: 100%;
  height: 750px;
  background-image: url("../images/segment1-bg-img.png");
  background-repeat: no-repeat;
  background-size: 100%;

  .art-of-cakes__left-content {
    width: 50%;
    height: 750px;
    float: left;

    .art-of-cakes__header {
      margin: 88px auto 10px 173px;
      text-align: center;
      letter-spacing: 2px;
      word-spacing: 2px;
    }

    .art-of-cakes__regular {
      text-align: center;
      letter-spacing: 2px;
      margin-left: 175px;
    }

    .art-of-cakes__description {
      width: 524px;
      height: 100px;
      text-align: center;
      letter-spacing: 1px;
      word-spacing: 3px;
      margin: 62px 0px 0px 224px;
      line-height: 24px;
    }

    .art-of-cakes__chef-header {
      text-align: center;
      margin: 32px 0px 0px 174px;
      word-spacing: 3px;
    }

    .art-of-cakes__chef-wrap {
      width: 370px;
      height: 130px;
      margin: 30px 0 0 300px;

      .art-of-cakes__chef-photo {
        width: 100px;
        height: 100px;
        border: 5px solid $white-text-color;
        border-radius: 50%;
        margin: 38px 0 0 132px;
        background-image: url("../images/chef-avatar.jpg");
        background-repeat: no-repeat;
        background-position: -8px -5px;
        position: relative;

        &::before, &::after {
          position: absolute;
          width: 110px;
          height: 41px;
          border-top: 1px solid $line-color1;
          border-bottom: 1px solid $line-color1;
          text-align: center;
          letter-spacing: 1px;
          padding-top: 17px;
        }

        &::before {
          content: "Benito";
          top: 19px;
          right: 125px;
        }

        &::after {
          content: "Gaspare";
          top: 19px;
          left: 125px;
        }
      }
    }

    .art-of-cakes__quote--left {
      margin: -14px 0 0px 283px;
      height: 25px;
    }

    .art-of-cakes__quote-text {
      width: 260px;
      height: 40px;
      text-align: center;
      margin: 1px 0 0 368px;
      line-height: 31px;
    }

    .art-of-cakes__quote--right {
      margin: 12px 0px 0px 665px;
      height: 25px;
    }
  }

  .art-of-cakes__right-content {
    width: 50%;
    height: 750px;
    float: right;

    .art-of-cakes__image-wrap {
      width: 612px;
      height: 540px;
      margin: 110px 0 0 10px;
      position: relative;
      z-index: 1;

      .art-of-cakes__vector {
        width: 264px;
        height: 250px;
        margin: 138px 0 0 182px;
        background-image: url("../images/right-content-vector-img.png");
        background-repeat: no-repeat;
        position: absolute;
        opacity: 0.95;
        z-index: 0;

        .art-of-cakes__vector-text {
          width: 161px;
          margin: 87px 0 0 45px;
          text-align: center;
          letter-spacing: 2px;
          word-spacing: -2px;
          line-height: 35px;
        }
      }

      .art-of-cakes__cakes {
        width: 298px;
        height: 250px;
        outline: 5px solid $white-text-color;
        outline-offset: -11px;

        &.left-top {
          background-image: url("../images/segment1-img1.jpg");
          background-repeat: no-repeat;
          float: left;
          margin: 0 16px 20px 0;
          background-position: top 0 right 3px;
        }

        &.right-top {
          background-image: url("../images/segment1-img2.jpg");
          background-repeat: no-repeat;
          float: left;
          background-position: top -1px left 0px;
        }

        &.left-bottom {
          background-image: url("../images/segment1-img3.jpg");
          background-repeat: no-repeat;
          float: left;
          margin: 0 16px 20px 0;
        }

        &.right-bottom {
          background-image: url("../images/segment1-img4.jpg");
          background-repeat: no-repeat;
          float: left;
          background-position: top 0 left 1px;
        }
      }
    }
  }
}
