.header {
  height: 70px;
  position: absolute;
  z-index: 2;
  margin: -1px 0 0 -1px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: $dark-color;
    opacity: 0.4;
    margin-top: 0;
    margin-bottom: -135px;
    z-index: -1;
  }

  .header__logo {
    width: 370px;
    height: 70px;
    line-height: 70px;
    float: left;
    margin-top: -4px;

    .header__logo-text {
      height: 70px;
      line-height: 70px;
      margin-left: 170px;
      margin-top: -4px;
      letter-spacing: 4px;
    }
  }

  .header__navigation {
    width: 860px;
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;

    .header__navigation-item {
      height: 70px;
      line-height: 70px;
      display: inline-block;
      margin-right: 36px;
      letter-spacing: 4px;

      &:first-child {
        margin-left: 46px;
      }

      .header__navigation-text {
        display: inline-block;
        height: 70px;
        line-height: 70px;
      }
    }
  }

  .header__icons {
    width: 370px;
    height: 70px;
    float: right;
    margin-top: 1px;

    .header__icon {
      width: 20px;
      height: 20px;
      display: inline-block;

      &.header__icon--tweeter {
        background-image: url("../images/tweeter-icon.png");
        background-repeat: no-repeat;
        margin-left: 105px;
        margin-bottom: -35px;
      }

      &.header__icon--fb {
        background-image: url("../images/fb-icon.png");
        background-repeat: no-repeat;
        margin-left: 24px;
        margin-bottom: -34px;
      }

      &.header__icon--instagram {
        background-image: url("../images/instagram-icon.png");
        background-repeat: no-repeat;
        margin-left: 17px;
        margin-bottom: -33px;
      }
    }
  }
}

.main-image {
  width: 100%;
  height: 900px;
  background-color: $image-background-color;
  background-image: url("../images/main-img.jpg");
  background-repeat: no-repeat;
  background-size: 100% calc(100% - 2px);
  margin: 0;
  position: relative;

  .main-image__shadow {
    border-radius: 50%;
    position: absolute;
    top: 440px;
    left: 790px;
    box-shadow: 0px 0px 200px 150px rgba(65, 60, 60, 0.5);
    z-index: 0;
  }

  .main-image__header {
    text-align: center;
    padding-top: 266px;
    letter-spacing: 8px;
    word-spacing: -3px;
    position: relative;
    z-index: 1;
    margin: 0px 0 0 12px;
  }

  .main-image__dashed-line {
    width: 190px;
    height: 20px;
    background-image: url("../images/dashed-wave.png");
    background-repeat: no-repeat;
    margin: 60px auto 0 auto;
  }

  .main-image__motto {
    width: 580px;
    height: 35px;
    line-height: 35px;
    margin: 52px auto 0 auto;
    letter-spacing: 2px;
    word-spacing: 1px;
    text-align: center;
    position: relative;
    z-index: 1;
  }

  .main-image__btn {
    width: 200px;
    height: 49px;
    margin: 98px auto 0 auto;
    background-color: $dark-color;
    opacity: 0.6;
    border: 1px dashed $line-color2;

    .main-image__btn-text {
      width: 100%;
      line-height: 50px;
      text-align: center;
      letter-spacing: 4px;
      word-spacing: 1px;
      margin-left: 3px;
      display: inline-block;
    }
  }
}

.horizontal-divider {
  width: 100%;
  height: 10px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -35px;
    left: calc(50% - 41px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: $white-text-color;
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../images/bread-logo.png");
    background-repeat: no-repeat;
    width: 106px;
    height: 106px;
    top: -49px;
    left: calc(50% - 54px);
  }
}
