.menu-wrap {
  width: 100%;
    height: 760px;
    background-image: url("../images/segment3-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top -18px left 0px;
    position: relative;

  .menu-wrap__price {
    width: 50%;
    height: 759px;
    float: left;

    .menu-wrap__header {
      margin: 81px 0 0 395px;
      letter-spacing: 5px;
    }

    .menu-wrap__subtitle {
      margin: 0 0 0 389px;
      letter-spacing: 2px;
      word-spacing: -3px;
    }

    .menu-wrap__price-list {
      width: 350px;
      height: 480px;
      list-style: none;
      margin: 39px 0 0 354px;
      padding: 0;

      .menu-wrap__price-list-item {
        width: 100%;
        text-align: center;

        .menu-wrap__item1-header {
          margin-top: 59px;
          letter-spacing: 2px;
        }

        .menu-wrap__item1-description {
          margin: 10px 0 0 1px;
          font-size: 16px;
          letter-spacing: 1px;
          word-spacing: -1px;
        }

        .menu-wrap__item1-price {
          margin: 15px 0 0 -3px;
        }

        .menu-wrap__item2-header {
          margin: 2px 0 0 -1px;
          letter-spacing: 2px;
          word-spacing: -3px;
        }

        .menu-wrap__item2-description {
          margin: 10px 0 0 -3px;
          font-size: 16px;
          letter-spacing: 1px;
          word-spacing: -2px;
        }

        .menu-wrap__item2-price {
          margin: 18px 0 0 -4px;
        }

        .menu-wrap__item3-header {
          margin: 4px 0 0 -1px;
          letter-spacing: 2px;
        }

        .menu-wrap__item3-description {
          margin: 10px 0 0 -3px;
          font-size: 16px;
          letter-spacing: 1px;
          word-spacing: -1px;
        }

        .menu-wrap__item3-price {
          margin: 18px 0 0 -5px;
        }
      }

      .menu-wrap__price-list-item-devider {
        width: 90px;
        height: 30px;
        background-image: url("../images/segment3-vector.png");
        background-repeat: no-repeat;
        background-size: 100%;
      }

      .menu-wrap__devider1 {
        margin: 11px 0 0 129px;
      }

      .menu-wrap__devider2 {
        margin: 11px 0 0 129px;
      }
    }

    .menu-wrap__vector {
      width: 350px;
      height: 220px;
      background-image: url("../images/rye-img.png");
      background-repeat: no-repeat;
      background-size: 100%;
      opacity: 1.5;
      margin: -168px 0 0 1253px;
      z-index: 3;
      position: absolute;
    }
  }

  .menu-wrap__menu {
    width: 440px;
    height: 600px;
    background-color: $light-background-color1;
    outline: 1px dashed $image-background-color;
    outline-offset: -11px;
    position: absolute;
    top: 89px;
    left: 990px;
    z-index: 2;

    .menu-wrap__menu-top {
      width: 100%;
      height: 16px;
      margin-top: 50px;

      .menu-wrap__left {
        width: 50%;
        height: 16px;
        float: left;
        text-align: center;
        margin: 1px 0 0 10px;
      }

      .menu-wrap__right {
        width: 50%;
        height: 16px;
        float: left;
        text-align: center;
        margin: 0px 0 0 -18px;
        letter-spacing: 1px;
      }
    }

    .menu-wrap__pretzel-divider {
      width: 367px;
      height: 60px;
      margin: 12px 37px;
      background-image: url("../images/pretzel-logo.png");
      background-repeat: no-repeat;
      background-size: 100%;
    }

    .menu-wrap__menu-header {
      text-align: center;
      width: 330px;
      margin: 62px 0 0 56px;
      letter-spacing: 1px;
      word-spacing: -2px;
      line-height: 60px;
    }

    .menu-wrap__menu-description {
      width: 360px;
      height: 76px;
      letter-spacing: 1px;
      text-align: center;
      word-spacing: 0px;
      margin: 30px 0 0 47px;
      line-height: 30px;
    }

    .menu-wrap__btn {
      width: 188px;
      height: 48px;
      margin: 58px 125px;
      border: 1px solid $image-background-color;
      position: absolute;
      z-index: 4;

      .menu-wrap__btn-text {
        width: 190px;
        line-height: 48px;
        text-align: center;
        letter-spacing: 1px;
        display: inline-block;
      }
    }
  }

  .menu-wrap__fold {
    width: 31px;
    height: 31px;
    background-image: url("../images/menu-fold.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    z-index: 3;
    bottom: 70px;
    right: 580px;
  }

  .menu-wrap__menu-back {
    width: 398px;
    height: 549px;
    background-color: $light-background-color2;
    outline: 1px dashed $image-background-color;
    outline-offset: -10px;
    position: absolute;
    top: 115px;
    left: 1045px;
    z-index: 1;
  }

  .menu-wrap__menu-back--small {
    width: 368px;
    height: 501px;
    background-color: $light-background-color3;
    outline: 1px dashed $image-background-color;
    outline-offset: -9px;
    position: absolute;
    top: 139px;
    left: 1087px;
    z-index: 0;
  }
}
