.recipe {
  width: 100%;
  height: 920px;
  background-color: $light-background-color1;
  margin-top: -21px;
  padding-top: 2px;

  .recipe__vector {
    width: 707px;
    height: 142px;
    background-image: url("../images/segment4-bg-image.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 19px auto;
  }

  .recipe__header {
    margin: -67px 0 0 572px;
    letter-spacing: 2px;
    word-spacing: 5px;
  }

  .recipe__regular {
    letter-spacing: 2px;
    margin: 8px 0 0 636px;
  }

  .recipe__left-content {
    width: 295px;
    height: 745px;
    margin: -3px 0 0 128px;
    list-style: none;

    .recipe__round-images {
      width: 100px;
      height: 100px;
      background-color: $dark-background-color;
      border-radius: 50%;
      background-repeat: no-repeat;
      box-shadow: -1px 12px 10px -1px rgba(223, 198, 145, 0.2);
    }

    .recipe__round-image1 {
      background-image: url("../images/segment4-img5.jpg");
      margin: -4px 0 0 97px;
      background-position: right -25px bottom -1px;

      .recipe__header1 {
        width: 165px;
        letter-spacing: 1px;
        margin: 118px 0 0 -31px;
        display: inline-block;
      }

      .recipe__description1 {
        display: inline-block;
        width: 296px;
        margin: 20px 0 0 -95px;
        letter-spacing: 1px;
        word-spacing: 3px;
        text-align: center;
        line-height: 19px;
      }
    }

    .recipe__round-image2 {
      background-image: url("../images/segment4-img4.jpg");
      margin: 165px 0 0 97px;
      background-position: right -12px bottom -8px;

      .recipe__header2 {
        width: 165px;
        letter-spacing: 1px;
        margin: 118px 0 0 -17px;
        display: inline-block;
      }

      .recipe__description2 {
        display: inline-block;
        width: 296px;
        margin: 20px 0 0 -95px;
        letter-spacing: 1px;
        word-spacing: 3px;
        text-align: center;
        line-height: 19px;
      }
    }

    .recipe__round-image3 {
      background-image: url("../images/segment4-img3.jpg");
      margin: 166px 0 0 97px;
      background-position: right -3px bottom -4px;

      .recipe__header3 {
        width: 213px;
        letter-spacing: 1px;
        margin: 118px 0 0 -48px;
        display: inline-block;
        word-spacing: -1px;
      }

      .recipe__description3 {
        display: inline-block;
        width: 296px;
        margin: 20px 0 0 -95px;
        letter-spacing: 1px;
        word-spacing: 3px;
        text-align: center;
        line-height: 19px;
      }
    }
  }

  .recipe__right-content {
    width: 820px;
    height: 536px;
    background-image: url("../images/segment4-img1.jpg");
    background-repeat: no-repeat;
    background-size: calc(100% + 20px);
    background-position: bottom -10px right -10px;
    border: 10px solid $white-text-color;
    float: left;
    margin: -653px 0 0 590px;
  }

  .recipe__button {
    width: 168px;
    height: 58px;
    border: 1px dashed $light-text-color5;
    line-height: 58px;
    text-align: center;
    letter-spacing: 1px;
    background-color: $white-text-color;
    position: absolute;
    margin: -139px 0 0 569px;
    display: inline-block;
  }

  .recipe__time {
    width: 200px;
    height: 603px;
    list-style: none;
    padding: 0;
    position: absolute;
    margin: -676px 0 0 1220px;

    .recipe__time-item {
      width: 100%;
      height: 200px;
    }

    .recipe__prep-time {
      background-color: rgba(255, 255, 255, 0.8);

        .recipe__prep-header {
          margin: 45px 0 0 76px;
          display: inline-block;
          letter-spacing: 2px;
        }

        .recipe__prep-time {
          margin: 4px 0 0 75px;
          display: inline-block;
          letter-spacing: 8px;
          width: 0;
        }

        .recipe__prep-mins {
          margin: 72px 0 0 5px;
          display: inline-block;
          letter-spacing: 3px;
          position: absolute;
        }
    }

    .recipe__cook-time {
      background-color: rgba(255, 255, 255, 0.8);
      margin-top: 1px;

      .recipe__cook-header {
        margin: 45px 0 0 74px;
        display: inline-block;
        letter-spacing: 2px;
      }

      .recipe__cook-time {
        margin: 4px 0 0 73px;
        display: inline-block;
        letter-spacing: 8px;
        width: 0;
      }

      .recipe__cook-mins {
        margin: 72px 0 0 7px;
        display: inline-block;
        letter-spacing: 3px;
        position: absolute;
      }
    }

    .recipe__ready-in {
      background-image: url("../images/segment2-img1.png");
      background-repeat: no-repeat;
      background-color: $white-text-color;

      .recipe__ready-in-header {
        margin: 30px 0 0 55px;
        display: inline-block;
        letter-spacing: 2px;
      }

      .recipe__ready-in-time {
        margin: 5px 0 0 55px;
        display: inline-block;
        letter-spacing: 8px;
        width: 0;
      }

      .recipe__ready-in-mins {
        margin: 101px 0 0 25px;
        display: inline-block;
        letter-spacing: 3px;
        position: absolute;
      }
    }
  }
}

.footer {
  width: 100%;
  height: 246px;
  background-color: $light-background-color1;
  margin-top: -7px;

  .footer__navigation--left {
    width: 515px;
    height: 69px;
    list-style: none;
    float: left;
    border-top: 1px solid $line-color2;
    border-bottom: 1px solid $line-color2;
    margin: 115px 0 0 170px;
    padding: 0;

    .footer__navigation-item {
      height: 69px;
      line-height: 69px;
      display: inline-block;
      margin-right: 36px;
      letter-spacing: 4px;

      &:first-child {
        margin-left: 39px;
      }
    }
  }

  .footer__logo {
    width: 229px;
    height: 71px;
    line-height: 71px;
    float: left;
    margin-top: 115px;

    .footer__logo-text {
      height: 71px;
      line-height: 71px;
      margin-left: 45px;
      margin-top: 0px;
      letter-spacing: 6px;
      display: inline-block;
    }
  }

  .footer__navigation--right {
    width: 515px;
    height: 69px;
    list-style: none;
    float: left;
    border-top: 1px solid $line-color2;
    border-bottom: 1px solid $line-color2;
    margin: 115px 0 0 1px;
    padding: 0;

    .footer__navigation-item {
      height: 69px;
      line-height: 69px;
      display: inline-block;
      margin-right: 36px;
      letter-spacing: 4px;

      &:first-child {
        margin-left: 47px;
      }

      .footer__navigation-text {
        display: inline-block;
        height: 69px;
        line-height: 69px;
      }
    }
  }
}
