.season-favourite {
  width: 100%;
  height: 760px;
  background-image: url("../images/segment2-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top -2px left 0;

  .season-favourite__pancakes-block {
    width: 965px;
    height: 512px;
    position: relative;
    top: 140px;
    left: 265px;

    .season-favourite__pancakes {
      width: 585px;
      height: 513px;
      background-image: url("../images/segment2-img3.j"pg);
      background-repeat: no-repeat;
      background-size: auto auto;
      background-position: top -1px left -1px;

      .season-favourite__fold {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 463px;
        background-image: url("../images/Screenshot_4.pn"g);
      }

      .season-favourite__rating {
        list-style: none;
        position: absolute;
        margin: 176px 0 0 -10px;

        .season-favourite__star--filled {
          width: 20px;
          height: 20px;
          background-image: url("../images/rating-star-ful"l.png);
          background-repeat: no-repeat;
          background-size: auto auto;
          margin-top: 10px;
          position: relative;
        }

        .season-favourite__star--empty {
          width: 20px;
          height: 20px;
          background-image: url("../images/rating-star-emp"ty.png);
          background-repeat: no-repeat;
          background-size: auto auto;
          margin-top: 10px;
          position: relative;
        }
      }
    }

    .season-favourite__vertical-divider {
      height: 513px;
      width: 2px;
      margin: -513px 0 0 417px;
      background-color: $vertical-divider-color;
      opacity: 0.2;
    }

    .season-favourite__circle {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: $white-text-color;
      margin-left: 397px;
      margin-top: -281px;
      position: absolute;
    }

    .season-favourite__lines {
      width: 40px;
      height: 45px;
      list-style: none;
      position: absolute;
      padding: 0;
      margin: 0;
      bottom: 219px;
      left: 415px;
      z-index: 1;

      .season-favourite__line {
        width: 1px;
        height: 16px;
        background-color: $light-color2;
        display: inline-block;
        position: absolute;
      }

      .season-favourite__line2 {
        left: 4px;
      }

      .season-favourite__line3 {
        left: 8px;
      }
    }

    .season-favourite__description {
      background-image: url("../images/segment2-img2.p"ng);
      background-repeat: no-repeat;
      background-size: auto auto;
      background-position: right 1px bottom 3px;
      background-color: $white-text-color;
      width: 546px;
      height: 513px;
      position: absolute;
      z-index: 0;
      top: -1px;
      left: 419px;

      .season-favourite__header {
        margin: 74px 0 0 65px;
        letter-spacing: 2px;
        word-spacing: 4px;
      }

      .season-favourite__regular {
        margin: 8px 0 0 64px;
        letter-spacing: 2px;
      }

      .season-favourite__text {
        margin: 62px 0 0 63px;
        letter-spacing: 2px;
        line-height: 24px;
        word-spacing: -2px;
        width: 422px;
      }

      .season-favourite__slider-wrap {
        width: 546px;
        height: 100px;
        margin-top: 96px;

        .season-favourite__arrow--left {
          width: 28px;
          height: 28px;
          border-radius: 50%;
          border: 2px solid $dark-color;
          float: left;
          margin: 34px 0 0 61px;

          &::before {
            content: "";
            position: absolute;
            top: 422px;
            left: 74px;
            width: 7px;
            height: 7px;
            border-left: 2px solid $dark-color;
            border-bottom: 2px solid $dark-color;
            transform: rotate(48deg);
          }

          &:hover {
            border: 2px solid $light-color2;

            &::before {
              border-left: 2px solid $light-color2;
              border-bottom: 2px solid $light-color2;
            }
          }
        }

        .season-favourite__slider {
          width: 363px;
          height: 100px;
          list-style: none;
          padding: 0;
          float: left;
          margin: 0;

          .season-favourite__slider-image {
            width: 90px;
            height: 90px;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-color: $slider-image-background-color;
          }

          .season-favourite__image1 {
            background-image: url("../images/slider-img1.jpg");
            margin: 5px 0 0 15px;
            background-position: top -3px right -6px;
          }

          .season-favourite__image2 {
            background-image: url("../images/slider-img2.jpg");
            margin: -90px 0 0px 135px;
            background-position: top -7px right -4px;
          }

          .season-favourite__image3 {
            background-image: url("../images/slider-img3.jpg");
            margin: -90px 0 0px 255px;
            background-position: top -1px right -2px;
          }
        }

        .season-favourite__arrow--right {
          width: 28px;
          height: 28px;
          border-radius: 50%;
          border: 2px solid $dark-color;
          float: left;
          margin: 34px 0 0 -1px;

          &::before {
            content: "";
            position: absolute;
            top: 423px;
            left: 465px;
            width: 7px;
            height: 7px;
            border-right: 2px solid $dark-color;
            border-bottom: 2px solid $dark-color;
            transform: rotate(-43deg);
          }

          &:hover {
            border: 2px solid $light-color2;

            &::before {
              border-right: 2px solid $light-color2;
              border-bottom: 2px solid $light-color2;
            }
          }
        }
      }
    }
  }

  .season-favourite__cooking-time {
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 0;
    background-image: url("../images/segment2-img1.png");
    background-repeat: no-repeat;
    background-color: $white-text-color;
    margin: -415px 0 0 1135px;

    .season-favourite__header {
      margin: 29px 0 0 4px;
      text-align: center;
      letter-spacing: 2px;
      word-spacing: 1px;
    }

    .season-favourite__numeral {
      text-align: center;
      margin: 5px 5px 0 18px;
      letter-spacing: 9px;
    }

    .season-favourite__mins {
      text-align: center;
      letter-spacing: 3px;
      margin: -3px 0 0 4px;
    }
  }
}
