$times: 'Times New Roman';
$alegreya: 'Alegreya', serif;
$playfair: 'Playfair Display', serif;
$scriptina: 'Scriptina', serif;
$proxima: 'Proxima Nova', serif;


$white-text-color: #ffffff;
$dark-text-color1: #605e56;
$light-text-color1: #b6967d;
$light-text-color2: #c9b176;
$light-text-color3: #aaa8a4;
$light-text-color4: #979285;
$light-text-color5: #dfc691;
$subtitle-text-color1: #a47d5e;
$subtitle-text-color2: #c8a593;

$light-background-color1: #f3f1e9;
$light-background-color2: #e5e3d9;
$light-background-color3: #d5d3cb;
$dark-background-color: #834f4e;
$image-background-color: #9e9c93;
$slider-image-background-color: #e4e2d7;

$dark-color: #56534c;
$light-color1: #efebe4;
$light-color2: #d8bba3;
$line-color1: #d7d5ca;
$line-color2: #c2beba;
$vertical-divider-color: #000000;



// fonts

.logo-text {
  font-size: 30px;
  font-family: $scriptina;
  color: $white-text-color;
  &.logo-text_dark {
    color: $dark-color;
  }
}

.regular-text {
  font-size: 14px;
  font-family: $alegreya;
  color: $white-text-color;
  &.regular-text_dark {
    color: $dark-color;
  }
  &.regular-text_light {
    color: $subtitle-text-color1;
    font-size: 13px;
  }
  &.regular-text_smooth {
    color: $light-text-color4;
  }
  &.regular-text_bold {
    font-weight: bold;
  }
}

h1 {
  font-size: 92px;
  color: $white-text-color;
  font-family: $playfair;
  font-weight: bold;
  margin: 0;
}

.motto-text {
  font-size: 24px;
  color: $white-text-color;
  font-family: $proxima;
}

.header1 {
  font-size: 45px;
  font-family: $alegreya;
  color: $dark-color;
  font-weight: bold;
  &.header1_light {
    color: $light-text-color5;
    font-weight: normal;
  }
}

.header2 {
  font-size: 30px;
  font-family: $alegreya;
  color: $white-text-color;
  &.header2_light {
    color: $light-text-color2;
  }
  &.header2_dark {
    color: $subtitle-text-color1;
  }
  &.header2_bold {
    font-weight: bold;
  }
}

.header3 {
  font-size: 24px;
  color: $dark-color;
  font-family: $alegreya;
  &.header3_bold {
    font-weight: bold;
  }
}

.header4 {
  font-size: 46px;
  color: $white-text-color;
  font-family: $alegreya;
  font-weight: bold;
}

.header5 {
  font-size: 59px;
  color: $white-text-color;
  font-family: $alegreya;
  font-weight: bold;
}

.description-text {
  font-size: 14px;
  font-family: $proxima;
  color: $dark-color;
  &.description-text_light {
    color: $line-color2;
  }
  &.description-text_bold {
    font-weight: bold;
  }
}

.price-text {
  font-size: 36px;
  color: $light-text-color5;
  font-family: $alegreya;
}

.quote-text {
  font-size: 24px;
  color: $subtitle-text-color1;
  font-family: $scriptina;
}

.quote-mark {
  font-size: 60px;
  color: $dark-color;
  font-family: $times;
}

.cooking-time-header {
  font-size: 18px;
  font-family: $alegreya;
  color: $subtitle-text-color1;
  font-weight: bold;
  &.cooking-time-header_light1 {
    color: $light-text-color5;
  }
  &.cooking-time-header_light2 {
    color: $subtitle-text-color2;
  }
}

.cooking-time-numeral {
  font-size: 88px;
  font-family: $alegreya;
  color: $light-text-color5;
  font-weight: bold;
  &.cooking-time-numeral_small {
    font-size: 55px;
    color: $dark-color;
  }
}

.smooth-text {
  font-size: 16px;
  color: $light-text-color4;
  font-family: $alegreya;
  font-weight: bold;
}

.upper-case {
  text-transform: uppercase;
}

a {
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

//fonts end
