<!-- build:title -->Gustoso<!-- /build:title -->
<!-- build:content -->
.main-image
  .main-image__shadow
  .main-image__header
    %h1
      Pastry with love
  .main-image__dashed-line
  .main-image__motto
    .motto-text
      We’re bringing you fresh ingredients every day in ways you can’t resist.
  .main-image__btn
    %a.main-image__btn-text.regular-text.regular-text_bold.upper-case{href: "#"}
      our menu
.horizontal-divider
.art-of-cakes
  .art-of-cakes__left-content
    .art-of-cakes__header.header1
      Art of cakes
    .art-of-cakes__regular.regular-text.regular-text_light.regular-text_bold.upper-case
      We create delicious memories
    .art-of-cakes__description.description-text
      Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed.
    .art-of-cakes__chef-header.header3.header3_bold
      Chef Cook
    .art-of-cakes__chef-wrap
      .art-of-cakes__chef-photo.header3
    .art-of-cakes__quote--left.quote-mark
      "
    .art-of-cakes__quote-text.quote-text
      Unique creations for unique occasions.
    .art-of-cakes__quote--right.quote-mark
      "
  .art-of-cakes__right-content
    .art-of-cakes__image-wrap
      .art-of-cakes__vector
        .art-of-cakes__vector-text.header2.header2_light.upper-case
          tastes so good!
      .art-of-cakes__cakes.left-top
      .art-of-cakes__cakes.right-top
      .art-of-cakes__cakes.left-bottom
      .art-of-cakes__cakes.right-bottom

.season-favourite
  .season-favourite__pancakes-block
    .season-favourite__pancakes
      .season-favourite__fold
      %ul.season-favourite__rating
        %li.season-favourite__star--filled
        %li.season-favourite__star--filled
        %li.season-favourite__star--filled
        %li.season-favourite__star--filled
        %li.season-favourite__star--empty
    .season-favourite__vertical-divider
    .season-favourite__circle
    %ul.season-favourite__lines
      %li.season-favourite__line.season-favourite__line1
      %li.season-favourite__line.season-favourite__line2
      %li.season-favourite__line.season-favourite__line3
    .season-favourite__description
      .season-favourite__header.header1
        Tasty pancakes
      .season-favourite__regular.regular-text.regular-text_light.regular-text_bold.upper-case
        season favourite
      .season-favourite__text.description-text.description-text_bold
        Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus.
      .season-favourite__slider-wrap
        %a.season-favourite__arrow--left{href: "#"}
        %ul.season-favourite__slider
          %li.season-favourite__slider-image.season-favourite__image1
          %li.season-favourite__slider-image.season-favourite__image2
          %li.season-favourite__slider-image.season-favourite__image3
        %a.season-favourite__arrow--right{href: "#"}
  .season-favourite__cooking-time
    .season-favourite__header.cooking-time-header.upper-case
      ready in
    .season-favourite__numeral.cooking-time-numeral
      40
    .season-favourite__mins.smooth-text
      mins

.menu-wrap
  .menu-wrap__price
    .menu-wrap__header.header5
      Breakfast
    .menu-wrap__subtitle.cooking-time-header.cooking-time-header_light2.upper-case
      7am breakfast? we're open!
    %ul.menu-wrap__price-list
      %li.menu-wrap__price-list-item
        .menu-wrap__item1-header.header2.header2_bold
            Full breakfast
        .menu-wrap__item1-description.description-text.description-text_light
          Duis ut tortor, et risus, vulputate pretium
        .menu-wrap__item1-price.price-text
          $ 12.49
      %li.menu-wrap__price-list-item-devider.menu-wrap__devider1
      %li.menu-wrap__price-list-item
        .menu-wrap__item2-header.header2.header2_bold
          Toast & Jam
        .menu-wrap__item2-description.description-text.description-text_light
          Suspendisse, tempus, nterdum
        .menu-wrap__item2-price.price-text
          $ 4.90
      %li.menu-wrap__price-list-item-devider.menu-wrap__devider2
      %li.menu-wrap__price-list-item
        .menu-wrap__item3-header.header2.header2_bold
          Muffins
        .menu-wrap__item3-description.description-text.description-text_light
          Fusce eget dui sodales est
        .menu-wrap__item3-price.price-text
          $ 3.95
    .menu-wrap__vector
  .menu-wrap__menu
    .menu-wrap__menu-top
      .menu-wrap__left.regular-text.regular-text_dark.regular-text_bold
        EST.
      .menu-wrap__right.regular-text.regular-text_dark.regular-text_bold
        1893
    .menu-wrap__pretzel-divider
    .menu-wrap__menu-header.header1
      Your morning Escape with Flair
    .menu-wrap__menu-description.description-text.description-text_bold
      Donec vitae sapien ut libero venenatis faucibus.  Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo.
    .menu-wrap__btn
      %a.menu-wrap__btn-text.cooking-time-header{href: "#"}
        READ
  .menu-wrap__fold
  .menu-wrap__menu-back
  .menu-wrap__menu-back--small

.recipe
  .recipe__vector
  .recipe__header.header1
    The Jibarito sandwich
  .recipe__regular.regular-text.regular-text_light.regular-text_bold.upper-case
    the best sandwich you’ve ever tasted!
  %ul.recipe__left-content
    %li.recipe__round-images.recipe__round-image1
      .recipe__header1.header2.header2_dark.header2_bold
        Class aptent
      .recipe__description1.description-text.description-text_bold
        Quot alienum persecuti ut eam, nam ad  atqui primis nusquam.
    %li.recipe__round-images.recipe__round-image2
      .recipe__header2.header2.header2_dark.header2_bold
        Nulla eget
      .recipe__description2.description-text
        Nullam dictum felis eu pede mollis  pretium Integer tincidunt.
    %li.recipe__round-images.recipe__round-image3
      .recipe__header3.header2.header2_dark.header2_bold
        Sed nibh purus
      .recipe__description3.description-text
        Aenean eleifend tellus leo ligula,  porttitor eu, consequat vitae
  .recipe__right-content
  %a.recipe__button.cooking-time-header.cooking-time-header_light1.upper-case{href: "#"}
    full recipe
  %ul.recipe__time
    %li.recipe__time-item.recipe__prep-time
      .recipe__prep-header.cooking-time-header.upper-case
        prep
      .recipe__prep-time.cooking-time-numeral.cooking-time-numeral_small
        15
      .recipe__prep-mins.smooth-text
        mins
    %li.recipe__time-item.recipe__cook-time
      .recipe__cook-header.cooking-time-header.upper-case
        cook
      .recipe__cook-time.cooking-time-numeral.cooking-time-numeral_small
        35
      .recipe__cook-mins.smooth-text
        mins
    %li.recipe__time-item.recipe__ready-in
      .recipe__ready-in-header.cooking-time-header.upper-case
        ready in
      .recipe__ready-in-time.cooking-time-numeral
        50
      .recipe__ready-in-mins.smooth-text
        mins
   <!-- /build:content -->
