!!! 5
%html
  %head
    %title
      <!-- build:title -->
    %link{href: "css/style.css", rel: "stylesheet"}
  %body
    .main-container
      .header
        .header__logo
          %a.header__logo-text.logo-text{href: "#"}
            Gustoso
        %ul.header__navigation
          %li.header__navigation-item
            %a.header__navigation-text.regular-text{href: "#"}
              WELCOME
          %li.header__navigation-item
            .regular-text
              ~
          %li.header__navigation-item
            %a.header__navigation-text.regular-text{href: "#"}
              MENU
          %li.header__navigation-item
            .regular-text
              ~
          %li.header__navigation-item
            %a.header__navigation-text.regular-text{href: "#"}
              RESERVARIONS
          %li.header__navigation-item
            .regular-text
              ~
          %li.header__navigation-item
            %a.header__navigation-text.regular-text{href: "#"}
              NEWS
          %li.header__navigation-item
            .regular-text
              ~
          %li.header__navigation-item
            %a.header__navigation-text.regular-text{href: "#"}
              CONTACT
        .header__icons
          %a.header__icon.header__icon--tweeter{href: "#"}
          %a.header__icon.header__icon--fb{href: "#"}
          %a.header__icon.header__icon--instagram{href: "#"}
      <!-- build:content -->
      .footer
        %ul.footer__navigation--left
          %li.footer__navigation-item
            %a.footer__navigation-text.regular-text.regular-text_dark{href: "#"}
              OUR MENU
          %li.footer__navigation-item
            .regular-text.regular-text_dark
              ~
          %li.footer__navigation-item
            %a.footer__navigation-text.regular-text.regular-text_dark{href: "#"}
              GALLERY
          %li.footer__navigation-item
            .regular-text.regular-text_dark
              ~
          %li.footer__navigation-item
            %a.footer__navigation-text.regular-text.regular-text_dark{href: "#"}
              CULTURE
        .footer__logo
          %a.footer__logo-text.logo-text.logo-text_dark{href: "#"}
            Gustoso
        %ul.footer__navigation--right
          %li.footer__navigation-item
            %a.footer__navigation-text.regular-text.regular-text_dark{href: "#"}
              EVENTS
          %li.footer__navigation-item
            .regular-text.regular-text_dark
              ~
          %li.footer__navigation-item
            %a.footer__navigation-text.regular-text.regular-text_dark{href: "#"}
              CATERING
          %li.footer__navigation-item
            .regular-text.regular-text_dark
              ~
          %li.footer__navigation-item
            %a.footer__navigation-text.regular-text.regular-text_dark{href: "#"}
              VISIT US
